
<div class="container">
  
  <div *ngIf="versements">

    <h3 class="mb-3 text-center">Versement List</h3>

    <div class="col-md-12">
      <a type="button" class="btn btn-primary" routerLink="/create-boutique">Create</a><br />
      <table class="table table-bordered">
        
        <thead>
          <tr>
            <th scope="col">Versement Id</th>
            <th scope="col">Code Versement</th>
            <th scope="col">montant Versement</th>
            <th scope="col">facture Versement</th>
            <th scope="col">date Versement</th>
            <th scope="col">Boutique</th>
            <th scope="col">Employee</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vers of versements">
            <td>{{vers.idVersement}}</td>
            <td>{{vers.codeVersement}}</td>
            <td>{{vers.montantVersement}}</td>
            <td>{{vers.factureVersment}}</td>
            <td>{{vers.dateVersement}}</td>
            <td>{{vers.boutique.nomBoutique}}</td>
            <td>{{vers.employee.nomEmp}} || {{vers.employee.prenomEmp}} </td>
            <td><button class="btn btn-primary btn-xs" (click)="onEditVersement(vers)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span> Edit</button>&nbsp;&nbsp;
              <button class="btn btn-danger btn-xs" (click)="onDeleteVersement(vers)" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>