<div class="container custom-container-2">
  
  <div *ngIf="categories">

    <h3 class="mb-3 text-center">Categorie List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Categorie Id</th>
            <th scope="col">Code Categorie</th>
            <th scope="col">Name Categorie</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categories">
            <td>{{cat.idCategorie}}</td>
            <td>{{cat.codeCategorie}}</td>
            <td>{{cat.catgorieName}}</td>
            <td><button class="btn btn-primary btn-xs" (click)="onEditCat(cat)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button>&nbsp;&nbsp;
              <button class="btn btn-danger btn-xs" (click)="onDeleteCat(cat)" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>