<div class="container">
  <div class="row">
    <div class="col-sm-8" *ngIf="mode==1">
      <form #addDepenseForm="ngForm" (ngSubmit)="saveDepense(addDepenseForm.value)">
        <fieldset>
          <legend>Informations du depense</legend>
          <div class="form-group">
            <label class="control-label">Nature</label>
            <input type="text" name="nature" id="nature" class="form-control" [(ngModel)]="depense.nature">
          </div>
          <div class="form-group">
            <label class="control-label">Quantité</label>
            <input type="number" name="quantite" id="quantite" class="form-control" [(ngModel)]="depense.quantite">
          </div>
          <div class="form-group">
            <label class="control-label">Montant dépensé</label>
            <input type="number" name="montantDepense" id="montantDepense" class="form-control" [(ngModel)]="depense.montantDepense">
          </div>

          <div class="form-group">
            <label class="control-label">Boutique</label>
            <select name="boutique" id="boutique" [(ngModel)]="depense.boutique" class="form-control">
              <option [ngValue]="depense.boutique">Selectionner la boutique</option>
              <option *ngFor="let bout of boutiques" [ngValue]="bout">{{bout.nomBoutique}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Save</button>&nbsp;
          <button type="submit" class="btn btn-info" (click)="onGoToListDepense()">Annuler</button>
        </fieldset>
      </form>
    </div>

    <div class="col-sm-8" *ngIf="mode==0">
      <div class="panel-body" *ngIf="currentDepense">
        <form #editDepenseForm="ngForm" (ngSubmit)="updateDepense(editDepenseForm.value)">
          <fieldset>
            <legend>update du depense</legend>
            <div class="form-group">
              <label class="control-label">Nature</label>
              <input type="text" name="nature" id="nature" class="form-control" [(ngModel)]="currentDepense.nature">
            </div>
            <div class="form-group">
              <label class="control-label">Quantité</label>
              <input type="text" name="quantite" id="quantite" class="form-control" [(ngModel)]="currentDepense.quantite">
            </div>
            <div class="form-group">
              <label class="control-label">Montant dépensé</label>
              <input type="number" name="montantDepense" id="montantDepense" class="form-control" [(ngModel)]="currentDepense.montantDepense">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="boutique">Boutique</label>
              <select class="form-control" id="boutique" name="boutique" [(ngModel)]="currentDepense.boutique">
                <option [ngValue]="boutiqueOption.idBoutique == currentDepense.boutique?.idBoutique ? currentDepense.boutique : boutiqueOption"
                  *ngFor="let boutiqueOption of boutiques">{{boutiqueOption.nomBoutique}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success">Save</button>&nbsp;
            <button type="submit" class="btn btn-info" (click)="onGoToListDepense()">Annuler</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
