<div class="row">
  <div class="col-lg-8 col-lg-offset-2" *ngIf="mode==0">
    <section class="panel">
      <header class="panel-heading">
        Saisir les Informations de la Catégorie
      </header>
      <div class="panel-body">
        <div class="form">
          <form #addCustomerForm="ngForm" (ngSubmit)="saveCategorie(addCustomerForm.value)">
            <div class="form-group ">
              <label for="codeCategorie" class="control-label col-lg-2">Code <span class="required">*</span></label>
              <div class="col-lg-10">
                <input class=" form-control" [(ngModel)]="categorie.codeCategorie" id="codeCategorie" name="codeCategorie" type="text" />
              </div>
            </div>&nbsp;&nbsp;
            <div class="form-group ">
              <label for="catgorieName" class="control-label col-lg-2">Libellé <span class="required">*</span></label>
              <div class="col-lg-10">
                <input class=" form-control" [(ngModel)]="categorie.catgorieName" id="catgorieName" name="catgorieName" type="text" />
              </div>
            </div>&nbsp;
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Save</button>&nbsp;
                <button class="btn btn-default" type="button" (click)="onGoToListCategorie()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <div class="col-lg-12"  *ngIf="mode==1">
    <section class="panel">
      <header class="panel-heading">
        Modifier la Catégorie
      </header>
      <div class="panel-body" *ngIf="currentCategorie">
        <div class="form">
          <form #editCategorieForm="ngForm" (ngSubmit)="uptdateCategorie(editCategorieForm.value)">
            <div class="form-group ">
              <label for="codeCategorie" class="control-label col-lg-2">Code <span class="required">*</span></label>
              <div class="col-lg-10">
                <input class=" form-control" [(ngModel)]="currentCategorie.codeCategorie" id="codeCategorie" name="codeCategorie" type="text" />
              </div>
            </div>&nbsp;
            <div class="form-group ">
              <label for="catgorieName" class="control-label col-lg-2">Libelle <span class="required">*</span></label>
              <div class="col-lg-10">
                <input class=" form-control" [(ngModel)]="currentCategorie.catgorieName" id="catgorieName" name="catgorieName" type="text" />
              </div>
            </div>&nbsp;
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Save</button>&nbsp;
                <button class="btn btn-default" type="button" (click)="onGoToListCategorie()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

</div>
<!-- page end-->
